<!-- IF S_HAS_ADVANCED_POLL -->
<!-- BEGIN poll_options_data -->
<!-- IF poll_options_data.POLL_OPTION_GROUP_HEADING == '' -->
<div class="forumbg">
<table class="table1 showheader responsive">
    <thead>
    <tr>
        <th>&nbsp;</th>
<!-- ELSE -->
        <th class="info">{poll_options_data.POLL_OPTION_CAPTION}</th>
<!-- ENDIF -->
<!-- IF poll_options_data.POLL_OPTION_LAST -->
    </tr>
    </thead>
    <tbody>
    <tr class="bg1">
        <td style="border: 1px solid #cccccc">{poll_options_data.POLL_OPTION_GROUP_HEADING}</td>
        <!-- BEGIN results -->
        <td style="border: 1px solid #cccccc">{poll_options_data.results.POLL_OPTION_VOTER_LIST}</td>
        <!-- END results -->
    </tr>
    </tbody>
</table>
</div>
<!-- ENDIF -->
<!-- END poll_options_data -->
<!-- ENDIF -->